{% extends 'base.html' %}
{% block title %} Restaurant List | {{block.super}} {% endblock %}

{% block content %}
<h3> Restaurant List </h3>

    {% if object_list %}
        <ul>
        {% for item in object_list %}
           <li> 
               <a href="/restaurants/{{item.slug}}/">{{item}}</a><br/>
               {{ item.name }} |  {{ item.location }} |  {{ item.category }} |  {{ item.timestamp }} |  {{ item.updated }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}